[General]
# Name of the App and Browser Tab
app_title=AI Anime Maker

# if set, a poup message for the user. You can use any HTML to format it
#app_disclaimer= <h2>Important Information</h2>
    <p>This app is made for educational purposes.</p>
    <p>This app is provided to you by sponsored hardware. The link will expire within 2 days or when the hardware usage exceeds the sponsorship limit.</p>
    <p class="warning">Warning:<br>
        What you input, you will get back.<br>
        Generated images may contain adult content (depending on your input). Therefore, you must be of legal age to use it.</p>
    <p>All images are temporary and not stored. If inappropriate content is generated, you can click "report" to send us feedback.</p>

# the message showed below the app title
user_message=Have fun creating funny pictures out of your photos!

# defines the port where the app is starting, if not defined, a random port will be choosen
#port=7860

#define if the application should create a internet reachable link via gradio shared tunnel function
is_shared=false

# With this feature you can determine which style is mostly used and much more
# be aware of data privacy and regulations
analytics_enabled=false

# Path to the analytics database (will be created if not existing)
analytics_db_path=./analytics/analytics.db

# if available it will be used to determine country and city in analytics
# official source: https://dev.maxmind.com/geoip/geoip2/geolite2/
analytics_city_db=./analytics/GeoLite2-City.mmdb


[Token]
# This section contains the feature of token based image generation

# if active (default=true), users can generate images only if they have token
# token can be optained by uploading images
enabled=false

# if set, a explanation which will be shown to the user
explanation=You will receive Token by using new images. Each generation will cost you 1 Token. We implemented this to avoid misuse.

# amout of token users get a a new image
new_image=3

# time before the user will get token again for this image in the same session, default 240
image_blocked_in_minutes=240

# bonus of tokens they get if the image contains at least one face
bonus_for_face=3
# bonus of tokens if the faces smiles (not implemented so far)
bonus_for_smile=1
# bonus of token they get if the image is recognized as "cute"
bonus_for_cuteness=3

[GenAI]
# a local savetensors file or a Huggingface Model (will be downloaded)
default_model=./models/toonify.safetensors

# a local folder where the system can look for the specified model 
#model_folder=./models/

# the url to download the model if the file specified in "model" is not existing
#safetensor_url=https://civit.ai/...

# amount of parallel renderings (depends on GPU size), default 1
execution_batch_size=1

# the amount of steps used to generate the image
# the value should be lower for systems without GPU
default_steps=60

# value between 0 and 1
# 0=no changes to the input image
# 1=maximum changes (like no input file)
# this Setting is appied to all Styles who don't define a strength
# good values are 0.4 to 0.6
default_strength=0.5

# the maximum width or height of the output image
# change the value depending on teh model and available RAM on the GPU
max_size=1024

[UI]
# visual style of the application.
# you can define your own style or selected e.g. from here: https://huggingface.co/spaces/gradio/theme-gallery
theme=allenai/gradio-theme

# true=enables the slider to modify strengths in the UI
show_strength=false

# true=enables the slider to modify steps in the UI
show_steps=false

[Styles]
# the amout of styles listed below
style_count=7

# the negative prompt which should be applied to all styles
general_negative_prompt=realistic photo, wrong fingers, ugly, sad, brutal, violence

style_1_name=Anime
style_1_prompt=Perfect anime quality, modern, colorful, anime style, flowers, Japanese objects, smiling
style_1_strength=0.4
style_1_negative_prompt=asian

style_2_name=Pixar
style_2_prompt=A beautiful scene from a pixar cartoon, perfect drawing, many details, smiling, perfect eyes
#style_2_strength=0.5
#style_2_negative_prompt=

style_3_name=Manga
style_3_prompt=manga style, perfect drawing,smiling
#style_3_strength=0.5
#style_3_egative_prompt=

style_4_name=Painting
style_4_prompt=modern oil painting, smiling
#style_4_strength=0.5
#style_4_negative_prompt=

style_5_name=Fantasy
style_5_prompt=A detailed digital illustration in the style of Dimitry Roulland, The animation illustration style combines realistic details with a whimsical touch, characteristic of Roulland style
style_5_strength=0.6
#style_5_negative_prompt=

style_6_name=Old
style_6_prompt=photo of very old people, laughing
style_6_strength=0.6
style_6_negative_prompt=young, child

style_7_name=Open (SFW only)
style_7_prompt=
style_7_strength=0.7
style_7_negative_prompt=nsfw