# Main App
gradio          # main UI
colorlog        # Colored logging output
Pillow          # PIL images
numpy           # Image Manipulation (SKIP_AI)

# Analytics
geoip2          # for analytics to determine country and city
user-agents     # to parse user agents and split into 

# Analytics Dashboard
dash            # Analytics dashboard - Routing and Callbacks
plotly          # Analytics Dashboard - Diagrams Framework - uses dash
iso3166         # Translation from country code to country and vice versa
fake_useragent  # Used to generate Testdata for analytics
